@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-100 text-neutral-700 font-sans;
  }
  .dark body {
    @apply bg-neutral-900 text-neutral-100;
  }
}

html, body, #root {
  height: 100%;
}
